.icon{
    height: 48px;
}
.output{
    margin: 20px;
}
.carousel-item img{
    max-height: 90vh;
    object-fit: cover;
}
.slideshow{
    max-height: 80vh;
}

.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.find{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.vertical-align{
    margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  
  padding: 30px;
}
.index{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.admin{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logs{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

label,a{
    font-weight: bolder !important;
}

.jumbotron h1{
    font-size: 64px;
    font-weight: bolder;
}
.lead{
    font-size: 32px;
}
.text{
    font-size: 24px;
}
.link-button{
    font-weight: unset !important;
}
.my-6{
    margin-top: 55px;
}

.admin-width{
    width:-webkit-fill-available;
}

.table-maxheight{
    max-height: 600px;
    overflow-y: auto;
}
